@include for-desktop {
  .features {
    display: flex;
    position: relative;

    &__content {
      display: flex;
      margin: auto;
      width: 1140px;
      margin-bottom: 110px;
    }

    &__text-block {
      width: 459px;
    }
    &__subtitle {
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      color: $light-green;
    }
    &__title {
      margin: 0;
      margin-top: 34px;
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      color: $dark-black;
    }
    &__description {
      margin: 0;
      margin-top: 30px;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      color: $dark-black;
    }
    &__advantage-header {
      margin-top: 42px;
      display: flex;
    }
    &__advantage-title {
      margin: 0px;
      margin-left: 15px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: $light2-blue;
    }
    &__advantage-description {
      margin: 0px;
      margin-top: 8px;
      font-size: 18px;
      line-height: 26px;
      padding-bottom: 20px;
      border-bottom: $light2-blue 3px solid;
    }
    &__advantage-item {
      display: flex;
      margin-top: 21px;
      padding-bottom: 20px;
      border-bottom: 1px solid $border-black;
      mix-blend-mode: normal;
    }
    &__item-text {
      margin-left: 15px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: $dark-black;
    }
    &__left-decoration {
      height: 166px;
      position: absolute;
      top: 258px;
    }
    &__banner {
      position: absolute;
      right: 0;
      filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
    }
  }
}
