.inbox {
  width: 100%;

  &__content {
    padding: 50px 15px 48px 15px;
    background: $white-orange-60;
  }

  &__text {
    margin-top: 32px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $light-red;
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: $dark-black;
  }

  &__description {
    margin: 0px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $dark-black;
  }
}

.inbox-article {
  &__content {
    margin-top: 28px;
    padding: 30px 20px 28px 20px;
    border-bottom: 4px solid #0185d0;
    background-blend-mode: overlay, normal;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      $white;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $dark-black;
  }
}

.author {
  display: flex;
  align-items: flex-start;

  &__author {
    margin: 0px;
    color: $dark-black-60;
  }

  &__author-img {
    width: 40px;
    height: 40px;
    margin-right: 11px;
  }

  &__bold-text {
    font-weight: 700;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $dark-black;
  }
}

@include for-desktop {
  .inbox {
    display: none;
  }
}
