@import 'variables.scss';
@import 'breakpoints.scss';
@import 'common.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'audience.scss';
@import 'communication.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'feedback.scss';
@import 'hiring.scss';
@import 'inbox.scss';
@import 'order.scss';
@import 'tips.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  font-size: $unit;
}
.page {
  min-width: 290px;
  overflow-x: hidden;
  @include for-desktop {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
.features {
  display: none;
  @include for-desktop {
    display: block;
  }
}
