$unit: 16px;

$white: #fff;
$black: #000;
$light-peach: #f3c6bd;
$light-blue: #3040c4;
$light2-blue: #3142c6;
$light3-blue: #3141c5;
$dark-black-10: #2b292d1a;
$light-white: #f4f5f7;
$light-green: #009b4d;
$dark-black: #2b292d;
$dark-black-15: #00000026;
$dark-black-60: #2b292d99;
$dark-text: #2b292d;
$light-gray: #e3e3e3;
$white-orange-60: #fcf0e366;
$light-red: #f1592b;
$border-black: #2b292d26;

$color-white-gray: #f4f5f7;
$border-color: #2b292d33;
$text-color-gray: rgba(43, 41, 45, 0.6);
